@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------Global Rules--------- */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #222222;
    --secondary-color: #1e90ff;
    --background-color: #eee;
    --link-hover-color: #777;
    --text-color-in-dark: #777;
    --text-color-in-light: #777;
    --caret-color: #777;
    --main-transition: 0.3s linear;
    --secondary-transition: 0.3s ease-in-out;
    --btn--border-radius: 2px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin-bottom: 0;
}

.mycontainer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .mycontainer {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .mycontainer {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .mycontainer {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .mycontainer {
        width: 1380px;
    }
}

/* ---shopy alert success--- */
#shopy-alert-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.6);
    top: 0;
    z-index: 9999;
    display: none;
}

#shopy-alert-overlay.active {
    display: block;
}

#shopy-alert-success {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    font-size: 20px;
    z-index: 9999;
    transition: opacity var(--secondary-transition);
    opacity: 0;
    visibility: hidden;
}

#shopy-alert-success.active {
    opacity: 1;
    visibility: visible;
}

#shopy-alert-success span:first-child {
    color: var(--secondary-color);
}

#shopy-alert-success span:last-child {
    width: 250px;
    text-align: center;
}