
.table {
  background: #ffffff;
  border-radius: 0.6em;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.8em;
	
}
.layout-inline > * {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.th {
  background: rgb(31, 134, 202);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.quantity-select {
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.quantity-select .decrease-quantity {
	cursor: pointer;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.quantity-select .increase-quantity:hover, .decrease-quantity:hover {
	background-color: #eee;
}
.quantity-select .increase-quantity {
	cursor: pointer;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.quantity-select span {
	width: calc(100% / 3);
	text-align: center;
	padding: 12px 10px;
	border: 2px solid #eee;
}

.Total {
	float: right;
	
}


.col {
  padding: 1em;
  width: 12%;
}

.col-pro {
  width: 44%;
}

.col-pro > * {
  vertical-align: middle;
}

.col-qty {
  text-align: center;
  width: 17%;
}

.col-numeric p {
  font: bold 1.8em helvetica;
}

.col-total p {
  color: #000;
}


.col-qty > * {
  vertical-align: middle; 
}

.col-qty > input {
  max-width: 2.6em;
}


a.qty:hover {
  background: #3b9ac6;
}

@media screen and ( max-width: 755px) {
  .container {
    width: 98%;
  }
  
  .col-pro {
    width: 35%;
  }
  
  .col-qty {
    width: 22%;
  }
  
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}

@media screen and ( max-width: 591px) {
  
}

