.allPage {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.allPage div {
    align-self: center;
}

#Checkout-allItems {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#Checkout-Right {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    width: 100%;
}

#Checkout-holeDiv {
    display: flex;
    padding: 15px;
    gap: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
}

#Checkout-Imgitem img {
    border-radius: 3px;
    width: 100px;

}

#checkout-Left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.checkout-Address {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 15px;
    gap: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

}

.form-control {

    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right: 7px;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.addAddress_btn {

    margin-top: 10px;
    background-color: var(--main-color);
    color: white;
    width: 50%;
    padding: 5px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    align-self: center;
}
.next_btn {
    margin: 5px;
    background-color: var(--secondary-color);
    color: white;
    width: 50%;
    padding: 5px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    align-self: center;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.last-btn-in-checkout-page {
    margin: 5px;
    background-color: var(--secondary-color);
    color: white;
    /* width: 100%; */
    padding: 10px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    align-self: center;
}

.confirm-btn-in-checkout-page {
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: white;
    /* width: 50%; */
    padding: 10px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    align-self: center;
}
.small-btns {
    margin-top: 2px;
    background-color: var(--main-color);
    color: white;
    /* width: 20%; */
    padding: 5px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    height: 100%;
}

/* .for pop up{ position: fixed; width: calc(100vw - 40%); height:150px; background-color: red; top: 50%; left: 50%; transform: translate(-50%,-50%); } */

#address-list > li {
    position: relative;
    /* display: block; */
    /* width: 100%; */
    padding: 5px;
    /* list-style: circle */
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    list-style-type: circle;
}

#address-list:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
