.result-head-banner {
    background-image: url(../assets/images/result-page-head-bg.webp);
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    position: relative;
    z-index: 1;
}

.result-head-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.CheckoutBig-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin: 30px 0; 
}

.checkout-section-head {
    text-align: center;
    margin-bottom: 16px;
}

.CheckoutSmall-div {
    flex: 1;
}

.checkout-Address,
.checkout-payment {
    padding: 15px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

}

.checkout-payment {
    margin: 20px 0;
}

.input-type-text {
    border: 1px solid #ccc;
    border-radius: var(--btn--border-radius);
    outline: 0;
    flex: 3;
    padding-left: 10px;
    caret-color: var(--caret-color);
}

.addAddress_btn {
    background-color: var(--main-color);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: var(--btn--border-radius);
    margin-top: 15px;
}

.address-content {
    display: flex;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
}

.last-btn-in-checkout-page {
    margin: 5px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
    align-self: center;
}

.confirm-btn-in-checkout-page {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--btn--border-radius);
}

.small-btns {
    background-color: var(--main-color);
    color: white;
    padding: 7px;
    border-radius: var(--btn--border-radius);
    flex: 1;
}

#address-list,
.payment-method-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#address-list:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#checkout-radio-input {
    border: 1px solid #eee;
    padding: 10px;
}

.checkout-Products {
    border: 1px solid #777;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.productsTable {
    width: 100%;
}

.productshead {
    font-weight: 600;
    background-color: #ccc;
    color: black;
}
.productsbody tr td {
    font-size: 14px;
}

.productsbody .product-row:not(:first-of-type) {
    border-top: 1px solid #eee;
}

.subTotal {
    text-align: center;
}
.productsTable td {
    padding: 10px;
}

.totalPriceList {
    font-weight: 600;
    border-top: 1px solid var(--main-color);
}

@media(max-width:991px) {
    .CheckoutBig-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}