.product{
    display:flex;
    margin:50px 0 ;
    gap: 85px;
}
.product .images{
    flex: 3;
}
.mainsliderimage img{
    width:100%;
}
.product .smallbuttonimages{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5),1fr));
    gap: 10px;
    margin-top: 15px;
}
.product .smallbuttonimages .slide-thumbs{
    background-color: #eee;
}
.product .images .smallbuttonimages .slide-thumbs img {
    width:100%;
    cursor: pointer;
    opacity: 0.6;
    transition: var(--main-transition);
}
.product .images .smallbuttonimages img.active,
.product .images .smallbuttonimages img:hover {
    opacity: 1;
}
.product .details{
    flex: 2;
}
.details .title{
    color:#070707;
    font-size: 30px;
    font-weight: 600;
}
.details .Category{
    color:#070707;
    font-size: 15px;
}
.details .product-price{
    color: var(--text-color-in-light);
    margin: 20px 0 25px;
}
.details .product-price > span{
    color: var(--main-color);
    font-size: 25px;
}
.details .display-size{
    display:flex;
    gap:5px;
    flex-wrap: wrap;
}
.details .display-size button{
    background-color: #eee;
    padding: 10px 5px;
    width: 70px;
    border-radius: 5px;
    font-size: 14px;
}
.details .display-size button:hover{
    background-color:var(--secondary-color);
    color:white;
}
.quantity-select{
    width:150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.quantity-select span{
    width:calc(100% / 3);
    text-align: center;
    padding: 12px 10px;
    border: 2px solid #eee;
}
.quantity-select .quantity{
    border-right:0;
    border-left:0;
}
.quantity-select .increase-quantity {
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.quantity-select .decrease-quantity {
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.quantity-select .increase-quantity:hover ,.decrease-quantity:hover{
    background-color: #eee;
}
.description-list ul li{
    margin-bottom: 10px;
}
.add-to-card-btn{
    background:var(--secondary-color);
    color:#fff;
    font-size: 17px;
    width:100%;
    padding:10px;
    border-radius: var(--btn--border-radius);
    border:0;
    outline: 0;
    margin: 30px 0;
    text-transform: capitalize;
    cursor: pointer;
}
.product-features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
    gap: 10px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.product-features .feature .feature-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}
.product-features .feature .feature-img img {
    width: 100%;
}
.product-features .feature p{
    text-align: center;
    font-size: 11px;
}
@media(max-width:991px){
    .product{
        flex-direction: column;
        gap: 40px;
    }
    .product .images{
        width:100%;
    }
    .mainsliderimage img{
        width:100%;
    }
    .details .title {
        font-size: 25px;
    }
    .quantity-select {
        width: 100%;
    }
}