/* -------Navbar------- */
header .topbar {
    background-color: var(--background-color);
    padding: 5px 20px;
}

header .topbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}

header .topbar .content .links {
    display: flex;
    gap: 30px;
}

header .topbar .content .links a {
    text-decoration: none;
    color: var(--main-color);
    transition: var(--main-transition);
}

header .topbar .content .links a:hover {
    color: var(--link-hover-color);
}

header .topbar .content .offfer p {
    font-size: 16px;
}

header .topbar .content .location a {
    color: var(--main-color);
    transition: var(--main-transition);
}

header .topbar .content .location a:hover {
    color: var(--link-hover-color);
}

header .head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .head-bar .logo {
    width: 200px;
}

header .head-bar .head-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--main-color);
}

header .head-bar .head-icons .search {
    position: relative;
    display: flex;
    align-items: center;
}

header .head-bar .head-icons .search input {
    width: 300px;
    border: 1px solid #777;
    outline: 0;
    padding: 6px 20px;
    caret-color: var(--caret-color);
    font-size: 14px;
    border-radius: 25px;
    transition: var(--main-transition);
}

header .head-bar .head-icons .search svg {
    position: absolute;
    right: 12px;
    background-color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

header .head-bar .head-icons .search svg:hover {
    color: var(--link-hover-color);
}

header .head-bar .head-icons a svg {
    color: var(--main-color);
    transition: var(--main-transition);
}

header .head-bar .head-icons a svg:hover {
    color: var(--link-hover-color);
}

header .head-bar .head-icons .heart-icon,
header .head-bar .head-icons .cart-icon {
    position: relative;
}

header .head-bar .head-icons .heart-icon span,
header .head-bar .head-icons .cart-icon span {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    right: -8px;
    line-height: 2;
    box-shadow: 0px 1px 5px rgba(0 0 0 / 0.2);
    cursor: pointer;
}

header nav {
    background-color: var(--background-color);
    padding: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header nav ul li {
    cursor: pointer;
    transition: var(--main-transition);
}

header nav ul li:hover {
    color: var(--link-hover-color);
}